 
 <header>
         <h1>{{pageTitle}}</h1>
        <p>{{pageTitle}}  some text here</p>
 <p><a href="/home">Home</a> </p>
  <p><a href="/about">About</a> </p>
    <p><a href="/categories">Categories</a> </p>
 
</header>