<h1>Categories</h1>
<ol>
    <li>{{getWelcomeMessage 'Category OS'}} </li>
    <li>{{getWelcomeMessage 'Category iPhone'}} </li>
    <li>{{getWelcomeMessage 'Category Android'}} </li>
     {{ data}}
</ol>