<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Test Home</title>
    </head>
    <body>
      <h1>This is Home</h1>
      {{getWelcomeMessage data}}
    </body>
    
</html>